<div>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
        <header class="masthead mb-auto">
            <div class="inner">
                <img class="masthead-brand" src="../../../assets/images/logo.jpg">
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link text-link" href="#">Empresa</a>
                    <a class="nav-link text-link" href="#">Soluções</a>
                    <a class="nav-link text-link" href="#">Cases</a>
                    <a class="nav-link text-link" href="#">Parceiros</a>
                    <a class="nav-link text-link" href="#">Novidades</a>
                    <a class="nav-link text-link" href="#">Contato</a>
                </nav>
            </div>
        </header>
    </div>
    <hr class="line">
</div>