.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-left: 30px;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: #212A35;
}

.nav-masthead .nav-link:hover {
    text-decoration: underline;
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

@media (min-width: 65em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
    .text-link {
        margin-top: 50px;
    }
}

.text-link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.line {
    border: none;
    height: 20px;
    background-color: #212A35;
}